
<mat-card class="container-fluid card border-0">
    <img src="assets/cakes/cake1.jpg" style="width: 250px; height: 250px; align-items: center; border-radius: 50%; justify-content: center;display: block;
    margin-left: auto;
    margin-right: auto;">
    <mat-card-header>
      <mat-card-title style="justify-content: center;">Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat tortor tellus, vel vestibulum diam elementum et. Nulla et felis auctor, viverra neque vitae, vulputate sem. Sed elit justo, eleifend vel dui vitae, lobortis rhoncus nibh. Aliquam nec leo semper, commodo augue vel, auctor enim. Nam sed turpis elit. In cursus rutrum ligula sit amet malesuada. Nulla facilisi. Vestibulum eget volutpat dui, in tempus ligula. Maecenas eget felis lobortis, venenatis nunc non, porttitor metus. Nulla posuere consectetur iaculis. Sed tincidunt interdum lectus, sed tincidunt odio. Vestibulum non fermentum elit.</p>
<p>
Praesent sed nisi vitae lorem maximus pellentesque eget vitae quam. Etiam eros nisl, congue vitae lectus ac, posuere rhoncus nibh. Pellentesque at risus nec velit rutrum convallis. Nam blandit at ipsum id blandit. Integer vestibulum, nibh imperdiet ullamcorper facilisis, orci justo molestie ex, sed suscipit felis ligula ut risus. Nulla a ipsum felis. Etiam nec consequat ex. Sed eu lacus nec libero lobortis tempus. Duis id urna a tortor venenatis convallis a id odio. Integer euismod urna ac sapien scelerisque, ac fermentum sem viverra. Donec risus eros, rhoncus in ipsum id, cursus tincidunt lorem. Proin malesuada scelerisque sem a vulputate. Sed a enim et arcu elementum posuere. Donec tellus mi, aliquet et porttitor a, elementum eget justo. Etiam imperdiet nisl massa, sit amet lobortis mi maximus a. Etiam tincidunt erat nunc, nec placerat elit luctus quis.
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <h3 style="margin-left: 30px;">Opening Hours</h3>
        <p style="margin-left: 40px;">Mon - Fri: 7am-10pm</p>
        <p style="margin-left: 40px;">Sunday: 8am-11pm</p>
    </mat-card-footer>
  </mat-card>
