.wrapper{
  max-height: 150px;
  display: flex;
  overflow-x: auto;
}

.wrapper ::-webkit-scrollbar{
  width: 0px;
}

.wrapper .item{
  min-width: 110px;
  height: 250px;
  margin: 2px;
  
}
.bttn{
  
  border: none;
  outline: none;
}

.example-spacer {
  flex: 1 1 auto;
}
.bottomnav
{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display:flex;
  justify-content:space-between;
  padding: 1em;
  background-color: white;
}