.example-card{
    margin: 20px;
}
.fx
{
   margin: 5px; 
}
.content {
    padding: 16px;
}
.cakeprice
{
    font-size:12px;
}
::ng-deep .mat-chip-list-wrapper {
    
    flex-wrap: unset !important;
    width: 100%;
    overflow-x: scroll;
    padding-top: 10px;
    padding-left: 5px;
  }
  ::ng-deep .mat-chip{
    
      min-width:max-content;
  }